.comment-entry-container {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-content: center;

    user-select: none;

    transition: box-shadow ease-out 0.2s;
}

.comment-entry-container:hover {
    box-shadow: #4fd2f2 0px 0px 7px 2px;
}

.comment-entry-container:target {
    box-shadow: #75f24f 0px 0px 7px 2px;
}

.comment-textarea-container {
    margin: 10px;
    border-radius: 10px;
    background-color: #8db8e27d;
    /* #9999; */
    transition: box-shadow ease-out 0.2s;
}

.comment-textarea-container:hover {
    box-shadow: #4f8ff2 0px 0px 7px 2px;
}

.comment-entry-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #cccc;
}

.comment-entry-header .comment-user-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: center;
}

.comment-entry-header .comment-icon img {
    width: 40px;
    height: 40px;
}

.comment-entry-header .comment-user {
    font-size: large;
    font-weight: bold;
}

.comment-entry-header .comment-date {
    color: grey;
}

.comment-entry-header .comment-id {
    margin-left: auto;
    margin-right: 10px;
}


.comment-entry-contents {
    padding: 10px;
}

.comment-quote-container {
    background-color: #7774;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;

    font-weight: bold;
    font-size: small;


    /* display: none; */
}

.comment-quote-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 10px;

    color: #444;

    border-bottom: 1px dashed #555;

    /* display: none; */
}

.comment-quote-toolbar .comment-quote-reply {
    margin-left: auto;
}

.comment-quote-container .comment-quote {
    color: #777;
    margin: 5px;
    user-select: text;

    display: -webkit-box;
    text-overflow: ellipsis;
    overflow-y: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.comment-entry {
    margin: 5px;
    user-select: text;

    display: -webkit-box;
    text-overflow: ellipsis;
    overflow-y: hidden;
    -webkit-line-clamp: 5;
    max-height: 20em;
    -webkit-box-orient: vertical;
}

.comment-op-expand {
    font-size: smaller;
    color: #00a;
    font-weight: bold;

    text-align: end;
    padding-right: 20px;

    /* display: none; */
}

.comment-entry-footer {
    padding: 5px;
    border-top: 1px solid #cccc;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 10px;

    overflow-x: scroll;
}


.comment-entry-footer .comment-op-like-dis {
    display: inline-flex;
}

.comment-entry-footer div,
.comment-entry-footer .comment-op-like,
.comment-entry-footer .comment-op-dislike {
    border: 1px solid #ccc7;
    border-radius: 20px;
    background-color: #ccc3;
    padding: 0 10px 0 10px;
    transition: all ease-in-out .2s;
    white-space: nowrap;
}

.comment-entry-footer .comment-op-save:hover {
    background-color: rgba(251, 215, 38, 0.5);
}

.comment-entry-footer .comment-op-share:hover {
    background-color: rgba(246, 124, 24, 0.5);
}

.comment-entry-footer .comment-op-like:hover {
    background-color: rgba(225, 74, 37, 0.5);
}

.comment-entry-footer .comment-op-dislike:hover {
    background-color: rgba(17, 141, 19, 0.474);
}

.comment-entry-footer .comment-op-claim-abuse:hover {
    background-color: rgba(183, 13, 166, 0.45);
}

.comment-entry-footer .comment-op-edit:hover {
    background-color: rgba(35, 110, 201, 0.495);
}

.comment-entry-footer .comment-op-reply:hover {
    background-color: rgba(31, 203, 177, 0.518);
}

.comment-entry-footer span {
    margin: 0;
    float: left;
}

.comment-entry-footer .comment-op-like {
    border-radius: 20px 0 0 20px;
}

.comment-entry-footer .comment-op-dislike {
    border-radius: 0 20px 20px 0;
}

.comment-entry-footer .comment-attitude-seperator {
    color: #ccc9;
}

.comment-entry-footer .comment-op-edit {
    margin-left: auto;
}


.comment-container {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-content: center;
}

.comment-container .comment-header {
    width: auto;
    /* width: 100%; */
    padding: 10px;
    align-content: center;
    border-bottom: 1px solid #777;
    background-color: #7772;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-wrap: nowrap;
}

.comment-container .comment-contents {
    width: auto;
    /* width: 100%; */
    /* padding: 10px; */
    align-content: center;
    min-height: 10px;
}

.comment-container .comment-textarea-content {
    margin-left: 10px;
    margin-right: 10px;
}

.comment-container .comment-textarea {
    width: auto;
    /* width: 100%; */
    /* padding: 10px; */
    align-content: center;
    min-height: 10px;
    /* border-top: 2px solid #bbbb; */
}

.comment-container .comment-footer {
    width: auto;
    /* width: 100%; */
    padding: 5px;
    align-content: center;
}

.comment-container .comment-footer div {
    text-align: center;
    font-size: small;
    color: gray;
}

.comment-header .Github-Login {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 3px;
    user-select: none;
}


.comment-textarea-container .comment-textarea-header {
    font-size: large;
    font-weight: bolder;
    padding: 10px;
    border-bottom: 1px dashed gray;
}


.comment-textarea-container .comment-textarea-texts {
    margin: 0;
    padding: 0;
    display: block;
    width: auto;
    min-height: 100px;
    border: none;
    outline: 0;
    color: black;
}

.comment-textarea-container .comment-textarea-texts-container {
    margin: 10px;
    width: auto;
    padding: 10px;
    background-color: white;
    border: 1px solid #444;
    border-radius: 2px;
    word-wrap: break-word;
    overflow-y: auto;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(167, 167, 167, 0.6);
}

.comment-textarea-quote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    column-gap: 15px;
    padding: 5px 15px 5px 15px;
    border: 1px dashed gray;
    border-radius: 20px;
    background-color: #19d2ad26;

    font-weight: bold;

    display: none;
}

.comment-textarea-quote-text {
    opacity: 0.7;
    font-size: small;
    overflow-y: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow-y: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 150%;
}

.comment-textarea-quote-position {
    font-size: small;
}

.comment-textarea-quote-sep {
    height: 1px;
    width: auto;
    background-color: #777;
    margin: 1px;
    /* box-shadow: 0 0 2px 0px black;; */
}

.comment-textarea-container .comment-textarea-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.comment-textarea-query {
    margin-right: auto;

    padding: 8px;
    background-color: rgba(255, 255, 255, 0.298);


    overflow-x: scroll;
    overflow-y: hidden;
    word-break: break-all;
    white-space: nowrap;
    border-radius: 2px;
}

/*滚动条整体样式*/
.comment-container ::-webkit-scrollbar {
    height: 2px;
    width: 4px;
}

/*滚动条里面小方块*/
.comment-container ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #53535387;
}

/*滚动条里面轨道*/
.comment-textarea-query::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ededed4d;
}


.comment-textarea-preview {
    margin-left: auto;
    font-weight: bolder;
    font-size: large;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #21a313;
    border-radius: 15px;
    color: #ffffff;
}

.comment-textarea-save {
    font-weight: bolder;
    font-size: large;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ee9747;
    border-radius: 15px;
    color: #ffffff;
}

.comment-textarea-submit {
    font-weight: bolder;
    font-size: large;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #0073ff;
    border-radius: 15px;
    color: #ffffff;
}

.comment-textarea-button {
    opacity: 0.5;
    box-shadow: 1px 1px 3px 1px dimgrey;
    transition: opacity ease-in-out 300ms,
        text-shadow ease-in-out 300ms,
        box-shadow ease-in-out 300ms,
        color ease-in-out 150ms;
    color: black;
    text-shadow: none;
    user-select: none;

    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.comment-textarea-button:hover {
    opacity: 1.0;
    color: wheat;
    text-shadow: 0 0 2px #7777;
    box-shadow: 2px 2px 5px 1px dimgrey;
}

.cur-ptr {
    cursor: pointer;
}

.txt-de:hover {
    text-decoration: underline;
}


.Github-Login-Menu-Container {
    position: absolute;
    left: auto;
}

.Github-Login-Menu {
    position: absolute;
    top: 1em;
    left: 20px;
    width: max-content;

    background-color: #ccca;
    border: 1px solid #424242;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    align-content: space-around;
    border-radius: 5px;

    font-size: small;
    font-weight: normal;
    box-shadow: 0px 0px 3px 1px #b4b4b4;

    transition: all ease-out 0.7s;
    overflow-y: hidden;

    max-height: 0px;
    opacity: 0;
}

.Github-Login-Menu>div {
    width: -webkit-fill-available;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
}

.Github-Login-Menu>div:hover {
    background-color: #bbba;
}

.Github-Login-Usercenter {
    border-bottom: 1px dashed #393939;
    border-radius: 5px 5px 0 0;
}

.Github-Login-Logout {
    border-top: 1px dashed #393939;
    border-radius: 0 0 5px 5px;
}

.comment-preview-container {
    position: fixed;
    background-color: #000a;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    overflow-y: scroll;

    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

    display: none;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
}


.comment-preview-container>.comment-entry-container {
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: aliceblue;
    width: 100%;
    /* max-width: 90%; */
    /* max-height: 90%; */
    /* overflow-y: scroll;
    overflow-x: hidden; */
}

.comment-preview-container>.comment-entry-container>.comment-entry-contents {
    background-color: white;
}

.comment-preview-container>.comment-entry-container>.comment-entry-contents>.comment-op-expand {
    display: none;
}

.comment-preview-container>.comment-entry-container>.comment-entry-contents>.comment-entry {
    overflow-x: scroll;
    -webkit-line-clamp: unset;
    max-height: unset;
    /* overflow-y: unset; */
}